@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

*{
    font-family: 'Crafty Girls', cursive;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
background-image: url("/img/cover.jpg");    
background-size: cover;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.section h1 {
    display: flex;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform:translate(-50%) ;
    font-size: 3em;
}


.container{
    width: 450px;
    height: 450px;
    display: grid;
    margin-top: 75px;
    z-index: 100;
    box-shadow: 
    5px 5px 10px 0 rgba(0, 0, 0, 0.25),
    -5px -5px 20px 0 rgba(255, 255, 255, 1);
    background: rgb(240,255,240);
    border-radius: 10px;

}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    gap: 25px;
    flex-direction: row;
    margin-bottom: 40px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 191, 82, 0.829);
    font-size: medium;
    font-weight: 700;
    width: 160px;
    height: 30px;
    gap: 25px;
    flex-direction: row;
    margin-top: 40px;
}





